.fundo{
    background-color: #C0C0C0	;
}
.containercadastro{
    background-color: rgb(255, 255, 255);
    border: 1px solid #000;
    border-radius: 18px;
    font-size: 25px;
    font-family: arial;
}

.janelacadastro{
    padding-left: 22%;
    padding-right:22%;
    padding-bottom: 20%;
}

.texto{
    font-size: 25px;
    font-family: arial;
    text-align: justify;
    margin-left: 10%;
}

.form{
    border-radius: 5px;
    margin-left: 10%;
    box-shadow: 1px 1px 1px rgb(0,0,0);
    width: 80%;
    margin-bottom: 2%;
}

.form-check-input{
    border-radius: 5px;
    margin-left: 10%;
    box-shadow: 1px 1px 1px rgb(0,0,0);
    
}

.btnlogin{
    background-color: green;
    color: honeydew;
    margin-left: 20%;
    margin-bottom: 5%;
    align-content: center;
    width: 60%;
    border-radius: 5px;
}

.titulo{
    border-radius: 10px;
    color: azure;
    font-size: 55px;
    background-color: #1C1C1C;
    
}

